// button()
//
// The `button()` mixin applies basic button styles.
//
// Markup: examples/elements/button.html
//
// .active       - A button can show it is currently the active user selection
// .basic        - A basic button is less pronounced
// .disabled     - A button can show it is currently unable to be interacted with
// .icon         - A button can have only an icon
// .labeled.icon - A button can have an icon and a label
// .loading      - A button can show a loading indicator (incompatiable with `input`)
// :active       - A button can change when pressed using touch or mouse events
// :hover        - A button can change to show a user has hovered their mouse
//
// Styleguide elements.button

button()
  cursor: pointer
  display: inline-block

  min-height: 1em

  outline: none
  border: none
  vertical-align: verticalAlign
  background-color: backgroundColor
  color: textColor

  font-family: fontFamily

  margin: 0em horizontalMargin verticalMargin 0em
  padding: verticalPadding horizontalPadding (verticalPadding + shadowOffset)

  text-transform: textTransform
  text-shadow: textShadow
  font-weight: fontWeight
  line-height: 1
  font-style: normal
  text-align: center
  text-decoration: none

  background-image: backgroundImage
  border-radius: borderRadius
  box-shadow: boxShadow

  user-select: none
  transition: transition

  -webkit-tap-highlight-color: tapColor

  // Hover
  &:hover
    background-color: hoverBackgroundColor
    background-image: hoverBackgroundImage
    box-shadow: hoverBoxShadow
    color: hoverColor

  &:hover .icon
    opacity: iconHoverOpacity

  // Focus
  &:focus
    background-color: focusBackgroundColor
    color: focusColor
    background-image: focusBackgroundImage !important
    box-shadow: focusBoxShadow !important

  &:focus .icon
    opacity: iconFocusOpacity

  // Down
  &:active, &.active:active
    background-color: downBackgroundColor
    background-image: downBackgroundImage
    color: downColor
    box-shadow: downBoxShadow

  // Active
  &.active
    background-color: activeBackgroundColor
    background-image: activeBackgroundImage
    box-shadow: activeBoxShadow
    color: activeColor

  &.active:hover
    background-color: activeHoverBackgroundColor
    background-image: activeHoverBackgroundImage
    color: activeHoverColor

  &.active:active
    background-color: activeBackgroundColor
    background-image: activeBackgroundImage

  // Basic
  &.basic.buttons &, &.basic
    background: basicBackground !important
    background-image: none
    color: basicTextColor !important
    font-weight: basicFontWeight
    border-radius: basicBorderRadius
    text-transform: basicTextTransform
    text-shadow: none !important
    box-shadow: basicBoxShadow

  &.basic.buttons
    box-shadow: basicGroupBoxShadow
    border-radius: borderRadius

  &.basic.buttons
    border-radius: 0em

  &.basic.buttons :hover, &.basic:hover
    background: basicHoverBackground !important
    color: basicHoverTextColor !important
    box-shadow: basicHoverBoxShadow

  &.basic.buttons :active,
  &.basic:active
    background: basicDownBackground !important
    color: basicDownTextColor !important
    box-shadow: basicDownBoxShadow

  &.basic.buttons .active.button,
  &.basic.active
    background: basicActiveBackground !important
    box-shadow: basicActiveBoxShadow !important
    color: basicActiveTextColor
    box-shadow: selectedBorderColor

  &.basic.buttons .active:hover,
  &.basic.active:hover
    background-color: transparentBlack

  // Vertical
  &.basic.buttons :hover
    box-shadow: basicHoverBoxShadow inset

  &.basic.buttons :active
    box-shadow: basicDownBoxShadow inset

  &.basic.buttons .active
    box-shadow: selectedBorderColor inset

  // Loading

  // Specificity hack
  &.loading.loading.loading.loading.loading.loading
    position: relative
    cursor: default
    point-events: none
    text-shadow: none !important
    color: transparent !important
    transition: all 0s linear

  &.loading:before
    position: absolute
    content: ''
    top: 50%
    left: 50%

    margin: loaderMargin
    width: loaderSize
    height: loaderSize

    border-radius: circularRadius
    border: loaderLineWidth solid invertedLoaderFillColor

  &.loading:after
    position: absolute
    content: ''
    top: 50%
    left: 50%

    margin: loaderMargin
    width: loaderSize
    height: loaderSize

    animation: button-spin loaderSpeed linear
    animation-iteration-count: infinite

    border-radius: circularRadius

    border-color: invertedLoaderLineColor transparent transparent
    border-style: solid
    border-width: loaderLineWidth

    box-shadow: 0px 0px 0px 1px transparent

  &.labeled.icon.loading .icon
    background-color: transparent
    box-shadow: none

  @keyframes button-spin
    from
      transform: rotate(0deg)
    to
      transform: rotate(360deg)

  &.basic.loading:not(.inverted):before
    border-color: loaderFillColor

  &.basic.loading:not(.inverted):after
    border-top-color: loaderLineColor

  // Disabled

  .buttons &.disabled,
  &.disabled,
  &.disabled:hover,
  &.disabled.active
    cursor: default
    background-color: lightGrey !important
    color: lightTextColor !important
    opacity: disabledOpacity !important
    background-image: none !important
    box-shadow: none !important
    pointer-events: none

  // Basic Group With Disabled
  .basic.buttons &.disabled
    border-color: disabledBorderColor

// buttons()
//
// The `buttons()` mixin adds button group CSS.
//
// Markup: examples/elements/button-groups.html
//
// Styleguide elements.button.groups

buttons()
  display: inline-block
  vertical-align: middle
  margin: verticalMargin horizontalMargin 0em 0em

  .button:hover, .active.button
    position: relative

  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden

  .button:first-child
    border-left: none

  &:not(.basic):not(.inverted)
    box-shadow: groupBoxShadow

  .button:not(.basic):not(.inverted), &:not(.basic):not(.inverted) > .button
    box-shadow: groupButtonBoxShadow

  .button
    margin: 0em
    float: left
    border-radius: 0em
    margin: groupButtonOffset

  .button:first-child
    margin-left: 0em
    border-top-left-radius: borderRadius
    border-bottom-left-radius: borderRadius

  .button:last-child
    border-top-right-radius: borderRadius
    border-bottom-right-radius: borderRadius

