verticalMargin        = 0em
horizontalMargin      = 0.25em

// Style
backgroundColor       = #E0E0E0
backgroundImage       = none
verticalPadding       = 0.8em
horizontalPadding     = 1.5em

// Text
textTransform         = none
tapColor              = transparent
fontFamily            = pageFont
fontWeight            = bold
textColor             = rgba(0, 0, 0, 0.6)
textShadow            = none
invertedTextShadow    = none
borderRadius          = defaultBorderRadius
verticalAlign         = baseline

// Internal Shadow
shadowDistance        = 0em
shadowOffset          = (shadowDistance / 2)
shadowBoxShadow       = 0px -shadowDistance 0px 0px borderColor inset

// Box Shadow
borderBoxShadowColor  = transparent
borderBoxShadowWidth  = 1px
borderBoxShadow       = 0px 0px 0px borderBoxShadowWidth borderBoxShadowColor inset
boxShadow             = borderBoxShadow, shadowBoxShadow
